// Basic Colors
$palette-white: #fafaff;
$palette-black: #0f0f11;
$palette-gray: #30343f;
$palette-light-gray: #aaaaaa;
$palette-dark-gray: #1b1b1e;
$palette-red: #e71d36;
$palette-orange: #ffae00;
$palette-yellow: #ffd400;
$palette-green: #09ff00;
$palette-dark-green: #262730;
$palette-blue: #067bc2;
$palette-purple: #4e0250;
$palette-brown: #582707;

// Extended Colors
$palette-cerulean: #a2c7e5;
$palette-space-cadet: #2e294e;
$palette-jungle-green: #1b998b;
$palette-darjk-jungle-green: #071e22;
$palette-soft-white: #cfe8ef;
$palette-off-white: #f3fcf0;
$palette-steel-blue: #4281a4;
$palette-licorice: #262730;
$palette-navy-blue: #080357;
$palette-alice-blue: #edf5fc;
$palette-light-steel-blue: #b8c5d6;
$palette-gainsboro: #d5dfe5;
$palette-glitter: #e6f0f7;

$palette-example-gray: #f5f6f7;

// Colors from other projects
$palette-silver-sand: rgba(179, 192, 199, 1);
$palette-pale-aqua: rgb(187, 213, 237);
